/*
Task:                index.html
Assigned to:         Admin
Date assigned:       7 November 2022
Due date:            7 November 2022
Task complete?       Yes
Task description:    create a file called index.html and use SCSS to edit my webpages
*/
.header {
  color: white;
  font-size: 50px;
  text-align: center;
  background-color: red;
}

.image1 {
  display: block;
  float: left;
  height: 57px;
}

#middle {
  font-size: 20px;
  width: 550px;
}

.image {
  float: right;
}

#bottom {
  font-size: 15px;
  margin-left: 48%;
}

.form1 {
  margin-left: 48%;
}